receivers:
  otlp:
    protocols:
      http:

exporters:
  otlphttp:
    endpoint: http://phoenix:6006/v1/traces

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [otlphttp]
